<footer>
    <div class="container">
        <a href="https://github.com/frrst-ian/storify" target="_blank"  rel="noopener noreferrer">
            <img src="../../icons/github.svg" width="28" alt="Github Icon">
        </a>
    </div>
</footer>
</body>
</html>