<%- include("./partials/header") %>

<div class="form-container">
    <form class="form-contents" action="/folder/<%=`${folderId}/edit`%>" method="POST" > 

        <h1 class="form-heading">Edit Folder</h1>
        <div class="input-group">
            <label for="folderName"></label>
            <input name="folderName" id="folderName" type="text" placeholder="Rename folder" 
             value="<%=  folderName || '' %>" />
        </div>

        <div class="btn-group">
            <a href="/" class="btn secondary">Cancel</a>
            <button class="btn primary" type="submit">Submit</button>
        </div>
        
        <% if(typeof errorList !== 'undefined' && errorList.length > 0) {%>
            <ul class="error-msgs">
                <% errorList.forEach(e => { %>
                    <li><%=e.msg%></li>
               <% }) %>
            </ul>
            <% } %>
    </form>
</div>