<%- include("./partials/header") %>

<div class="form-container">
    <form class="form-contents" action="/create-folder" method="POST" > 

        <h1 class="form-heading">New folder</h1>
        <div class="input-group">
            <label for="folderName"></label>
            <input name="folderName" id="folderName" type="text" placeholder="Folder name"
             value="<% typeof folderName  !== "undefined" ? folderName : '' %>" />
        </div>

        <div class="btn-group">
            <a href="/" class="btn secondary">Cancel</a>
            <button class="btn primary" type="submit">Create Folder</button>
        </div>
        
        <% if(typeof errorList !== 'undefined' && errorList.length > 0) {%>
            <ul class="error-msgs">
                <% errorList.forEach(e => { %>
                    <li><%=e.msg%></li>
               <% }) %>
            </ul>
            <% } %>
    </form>
</div>