<%- include("./partials/header") %>

<div class="form-container">
    <form class="form-contents" action="<%= folderId ? `/folder/${folderId}/upload` : '/upload' %>" method="POST" enctype="multipart/form-data"> 

        <h1 class="form-heading">File upload</h1>
        <div class="input-group">
            <label for="file" value="<% typeof file  !== "undefined" ? file : '' %>"></label>
            <input class="file-input" name="file" id="file" type="file"  >
        </div>

        <div class="btn-group">
            <a href="/" class="btn secondary">Cancel</a>
            <button class="btn primary" type="submit">Upload</button>
        </div>
        <% if(typeof errorList !== 'undefined' && errorList.length > 0) {%>
            <ul class="error-msgs">
                <% errorList.forEach(e => { %>
                    <li><%=e.msg%></li>
               <% }) %>
            </ul>
            <% } %>
    </form>
</div>